<div id="main">
    
    <div class="content">
        <img src="../images/spotify-logo.png" id="spotify-logo">
        <div class="search-box">
            <form action="/artists" class="search-form" method="get">
                <input type="text" class="form-control" placeholder="Search for an Artist!" name="artist"></input>
                <button type="submit" class="form-button">Search</button>
            </form>
        </div>
    </div>
</div>