<div class="header">
    <h2 class="title">Tracks</h2>
</div>
{{#each myTracks}}
    <center><div class="track">
        <p class="track-name">{{this.name}}</p>
        <audio controls>
            <source src="{{this.preview_url}}"/>
        </audio>
    </div></center>
{{/each}}